* {
  color: white;
}

body,
input,
button {
  background-color: black;
}

.book {
  background-color: rgb(10, 1, 24);

  width: 400px;
  height: 200px;
  margin: 30px 20px;
  border-radius: 30px;
  padding: 25px;
}

.results {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
