* {
  border: 1px solid red;
}

body {
  margin: 0 auto;
  text-align: center;
  max-width: 100vw;
}

#status {
  font-size: 2em;
}

.film-card {
  margin: 20px auto;
  display: flex;
  width: 80%;
}
.thumbnail {
  width: 200px;
}
